In [ ]:
'''
As mentioned in the writeup i am using code from 
https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/
to setup the spark environment as i was getting errors while running PySpark in my local environment
'''

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://www.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find()

'/content/spark-3.1.2-bin-hadoop2.7'

In [ ]:
from pyspark import SparkContext
from pyspark.streaming import StreamingContext
from pyspark.sql import SQLContext,SparkSession
from pyspark.sql.functions import desc

In [ ]:
from collections import namedtuple
fields = ("tag", "count" )
Tweet = namedtuple('tweets', fields )

In [ ]:
sc = SparkContext()
ssc = StreamingContext(sc, 10 )
sqlContext = SQLContext(sc)

In [ ]:
socket_stream = ssc.socketTextStream("127.0.0.1", 5556)
lines = socket_stream.window( 20 )

In [ ]:
from collections import namedtuple
fields = ("tag", "count" )
Tweet = namedtuple('tweets', fields )

In [ ]:
# Use Parenthesis for multiple lines or use \.
( lines.flatMap( lambda text: text.split( " " ) ) #Splits to a list
  .filter( lambda word: word.lower().startswith("#") ) # Checks for hashtag calls
  .map( lambda word: ( word.lower(), 1 ) ) # Lower cases the word
  .reduceByKey( lambda a, b: a + b ) # Reduces
  .map( lambda rec: Tweet( rec[0], rec[1] ) ) # Stores in a Tweet Object
  .foreachRDD( lambda rdd: rdd.toDF().sort( desc("count") ) # Sorts Them in a DF
  .limit(10).registerTempTable("tweets") ) ) # Registers to a table.

In [ ]:
ssc.start()

In [ ]:
# request to get credentials at http://developer.twitter.com
consumer_key    = "d7IVUccLABfySxxwna1xmg3fx"
consumer_secret = "NlI09hp4m97hxln4N8iPGijr9utJTINFBTL62eGfV2uuJgoHrK"
access_token    = "1389687115554959367-onDJTNa1FZ2KkejKjufp1Vb2crlruv"
access_token_secret   = "BpBAJtqkf1K2kUtvCBSbAZ8bgpehRjGVaWOJJ6EJL5XvH"

In [ ]:
def twitter_setup():
    """
    Utility function to setup the Twitter's API
    with our access keys provided.
    """
    # Authentication and access using keys:
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)

    # Return API with authentication:
    api = tweepy.API(auth)
    return api

In [ ]:
extractor = twitter_setup()

# We create a tweet list as follows:
#tweets = extractor.user_timeline(screen_name="@iamsrk", count=600)
tweets = extractor.search(q="#umbc")

print("Number of tweets extracted: {}.\n".format(len(tweets)))

# We print the most recent 5 tweets:
#print("3 recent tweets:\n")
for tweet in tweets[:3]:
    print(tweet.text)
    print()

Number of tweets extracted: 15.

Current Temp at Hamilton Str. Prkng Lot D on 11/27/2021, 12:00 is: 39.22. It feels like 31.51. Raining Probability… https://t.co/y9ZJ3hlXJI

#Davidson vs #RobertMorris 2pm
#Pitt vs #UMBC 2pm
#ColoradoSt vs #NorthernColorado 2pm
#Nebraska vs #SouthDakota 2p… https://t.co/CODI4ilPLh

Current Temp at Hamilton Str. Prkng Lot D on 11/27/2021, 06:00 is: 28.46. It feels like 19.07. Raining Probability… https://t.co/3edHrv0Eu1

In [ ]:
import time
from IPython import display
import matplotlib.pyplot as plt
import seaborn as sns
import pandas
%matplotlib inline
count = 0
while count < 5:
    
    time.sleep(5)
    top_10_tags = SQLContext.sql( 'Select hashtag, count from tweets' )
    top_10_df = top_10_tags.toPandas()
    display.clear_output(wait=True)
    plt.figure( figsize = ( 10, 8 ) )
    sns.barplot( x="count", y="hashtag", data=top_10_df)
    plt.show()
    count = count + 1
    print(conut)

TypeError: ignored

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Spark_SQL_config")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
import time
from IPython import display
import matplotlib.pyplot as plt
import seaborn as sns
import pandas
%matplotlib inline
count = 0
while count < 5:
    
    time.sleep(5)
    top_10_tags = sqlContext.sql( 'Select hashtag, count from tweets' )
    top_10_df = top_10_tags.toPandas()
    display.clear_output(wait=True)
    plt.figure( figsize = ( 10, 8 ) )
    sns.barplot( x="count", y="hashtag", data=top_10_df)
    plt.show()
    count = count + 1
    print(conut)

In [ ]:
spark

In [ ]:
from pyspark.sql.types import ArrayType, StructField, StructType, StringType, IntegerType,FloatType
from decimal import Decimal

data = [{'student_id':543 , 'Student_name': 'John Smith', 'Phone':'301-304-4044','GPA':3.9 },
        {'student_id':544 , 'Student_name': 'Nancy Thomas', 'Phone':'240-340-3444','GPA':3.8 },
        {'student_id':545 , 'Student_name': 'Sam Jones', 'Phone':'311-404-4044','GPA':3.9 },
        {'student_id':546 , 'Student_name': 'Sara Smith', 'Phone':'303-344-4444','GPA':4.0 },
        {'student_id':547 , 'Student_name': 'Harry Spark', 'Phone':'301-304-4934','GPA':3.6 },
        {'student_id':548 , 'Student_name': 'Hollie Mason', 'Phone':'344-304-4044','GPA':2.5 },
        {'student_id':549 , 'Student_name': 'Jeff Rose', 'Phone':'301-888-4044','GPA':3.0 },
        {'student_id':550 , 'Student_name': 'David Munroe', 'Phone':'301-304-9999','GPA':3.9 },
        {'student_id':551 , 'Student_name': 'Neal Armstrong', 'Phone':'387-304-4044','GPA':3.2 },
        {'student_id':552 , 'Student_name': 'Ryan Williams', 'Phone':'301-361-4044','GPA':3.6 },
        {'student_id':553 , 'Student_name': 'Devi Priya', 'Phone':'301-304-6666','GPA':3.7 },
        {'student_id':554 , 'Student_name': 'Newt Potter', 'Phone':'301-304-5555','GPA':3.5 }
        ]

schema = StructType([
    StructField('student_id', IntegerType(), False),
    StructField('Student_name', StringType(), False),
    StructField('Phone', StringType(), False),
    StructField('GPA', FloatType(), True),
])

# Create data frame
df = spark.createDataFrame(data,schema)
print(type(df))
print(df.schema)
df.show()

In [ ]:
from pyspark.sql.functions import when,col


student_grade=df.withColumn("GPA",when((col("GPA")>=3.6) & (col("GPA")<=4.0),"A").when((col("GPA")>=3.2) & (col("GPA")<=3.6),"B").when((col("GPA")>=2.8) & (col("GPA")<=3.2),"C" ).otherwise("Fail"))

In [ ]:
student_grade.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

pandas_dataframe = student_grade.toPandas()
abc=pandas_dataframe.groupby('GPA')
#plt.figure(figsize=(10,10))
abc.count().plot(kind='bar',figsize=(10,5))
#plt.show()